In [2]:
# I don't want to see sklearn series of deprication warnings.  That's annoying as all getout!
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [3]:
from matplotlib.pyplot import *
from pandas import *
from numpy import *
from sklearn import *
import seaborn as sns
%matplotlib inline

In [4]:
kagTrainDat = read_csv('train.csv')
kagTestDat = read_csv('test.csv')

In [5]:
kagTrainDat.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [6]:
kagTestDat.head()

,id,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,78766,72734,118079,118080,117878,117879,118177,19721,117880
1,2,40644,4378,117961,118327,118507,118863,122008,118398,118865
2,3,75443,2395,117961,118300,119488,118172,301534,249618,118175
3,4,43219,19986,117961,118225,118403,120773,136187,118960,120774
4,5,42093,50015,117961,118343,119598,118422,300136,118424,118425

In [7]:
# sns.pairplot(kagDat, kind="reg")
# sns.despine()

In [8]:
yTrain = vstack(kagTrainDat.as_matrix(columns=['ACTION']))
XTrain = vstack(kagTrainDat.as_matrix(columns=['RESOURCE','MGR_ID','ROLE_ROLEUP_1','ROLE_ROLEUP_2','ROLE_DEPTNAME','ROLE_TITLE','ROLE_FAMILY_DESC','ROLE_FAMILY']))
XTest = vstack(kagTestDat.as_matrix(columns=['RESOURCE','MGR_ID','ROLE_ROLEUP_1','ROLE_ROLEUP_2','ROLE_DEPTNAME','ROLE_TITLE','ROLE_FAMILY_DESC','ROLE_FAMILY']))

In [9]:
regr = linear_model.LinearRegression()
regr.fit(XTrain,yTrain)
print "Coefficients: ", regr.coef_
print regr.score(XTrain,yTrain)

Coefficients:  [[  7.15965706e-10  -3.10134559e-08   1.09802465e-08  -8.28167518e-08
    1.84549176e-08   1.76950132e-09]]
0.000157466832351

In [10]:
yTest = regr.predict(XTest)

[[ 0.94009026]
 [ 0.94235364]
 [ 0.94605339]
 ...,
 [ 0.94134916]
 [ 0.94248639]
 [ 0.94254105]]
1.0

In [11]:
regr2, residuals, rank, s = linalg.lstsq(XTrain,yTrain)
print regr2

[[  3.90864088e-07]
 [  3.67852629e-07]
 [  4.69397039e-06]
 [  1.63267435e-06]
 [  4.74743624e-07]
 [  3.09981450e-07]]

In [21]:
clf = linear_model.Ridge (alpha = 0.5)
ridgeReg = clf.fit (XTrain, yTrain)
print "Coefficients of Ridge: ", clf.coef_
yTest = clf.predict(XTest)
clf.score(XTrain, yTrain)

Coefficients of Ridge:  [[  7.15965706e-10  -3.10134559e-08   1.09802465e-08  -8.28167518e-08
    1.84549176e-08   1.76950132e-09]]

0.00015746683235107195

In [22]:
omg = linear_model.RidgeClassifierCV()
rccv = omg.fit(XTrain, yTrain)
print "Coeffs of RidgeClassifierCV: ", omg.coef_
yTest = omg.predict(XTest)
omg.score(XTrain,yTrain)

Coeffs of RidgeClassifierCV:  [[  3.03157321e-09  -6.34026946e-08   2.24099495e-08  -1.65309757e-07
    3.64379957e-08   4.32919478e-09]]

0.94210992096188473

In [25]:
rfc = ensemble.RandomForestClassifier()
randForReg = rfc.fit(XTrain, yTrain)
yTest = rfc.predict(XTest)
print "Score: ",rfc.score(XTrain,yTrain)

Score:  0.996215935793