In [99]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [100]:
from matplotlib.pyplot import *
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score
import seaborn as sns
%matplotlib inline

In [101]:
XTrain = read_csv('train.csv')
XTest = read_csv('test.csv')

In [102]:
XTrain.describe()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
count,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000,32769.000000
mean,0.942110,42923.916171,25988.957979,116952.627788,118301.823156,118912.779914,125916.152644,170178.369648,183703.408893,119789.430132
std,0.233539,34173.892702,35928.031650,10875.563591,4551.588572,18961.322917,31036.465825,69509.462130,100488.407413,5784.275516
min,0.000000,0.000000,25.000000,4292.000000,23779.000000,4674.000000,117879.000000,4673.000000,3130.000000,117880.000000
25%,1.000000,20299.000000,4566.000000,117961.000000,118102.000000,118395.000000,118274.000000,117906.000000,118363.000000,118232.000000
50%,1.000000,35376.000000,13545.000000,117961.000000,118300.000000,118921.000000,118568.000000,128696.000000,119006.000000,118570.000000
75%,1.000000,74189.000000,42034.000000,117961.000000,118386.000000,120535.000000,120006.000000,235280.000000,290919.000000,119348.000000
max,1.000000,312153.000000,311696.000000,311178.000000,286791.000000,286792.000000,311867.000000,311867.000000,308574.000000,270691.000000

In [103]:
yTrain = XTrain.pop('ACTION')

In [104]:
model = RandomForestRegressor(n_estimators=100, oob_score=True, random_state=42)
model.fit(XTrain,yTrain)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=True, random_state=42,
           verbose=0, warm_start=False)

In [105]:
y_oob = model.oob_prediction_
print "c-stat: ", roc_auc_score(yTrain, y_oob)

c-stat:  0.843326631171

XTest has an 'id' column that XTrain didn't, so it won't fit in the predict function. The next statement pops 'id' into a numpy array.

In [106]:
yID = XTest.pop("id")

In [107]:
yTest = model.predict(XTest)

In [108]:
type(yTest), type(yID)

(numpy.ndarray, pandas.core.series.Series)

In [109]:
yID = yID.as_matrix()

In [110]:
type(yTest), type(yID)

(numpy.ndarray, numpy.ndarray)

In [111]:
submission = pd.Series(yTest, index=yID)

In [113]:
submission.head(5), type(submission)

(1    0.98
 2    0.98
 3    1.00
 4    0.98
 5    1.00
 dtype: float64, pandas.core.series.Series)

In [98]:
submission.to_csv("submission.csv",index=True,sep=',',\
                  header=True,index_label=('Id','Action'))